//  Created by sam mok (Siso brand interactive team.) 2015

@import "base";

/* page: activity */
.activity {
  background: #fff;
}

.activity-list {
  padding-bottom: 30px;

  .item {
    position: relative;
    margin-bottom: 10px;
    .fs12;
    .lh18;
    border: 1px solid #e7e7e7;
  }
  
  .thumb {
    display: block;
    margin-right: 28px;

    img {
      display: block;
      width: 280px;
      height: 198px;
    }
  }

  .info {

  }

  .title {
    padding: 24px 0 0 0;
    margin-bottom: 11px;
    .fs18;
    .fn;

    a {
      .c_heavy;
      .transition(all, .2s);
    }

    a:hover {
      .c_blue;
    }
  }

  .desc {
    .c_normal;
    margin-bottom: 10px;
  }

  .address {
    .c_blue;
    margin-bottom: 13px;
  }

  .date {
    position: absolute;
    .c_light;
    bottom: 20px;
    right: 32px;
  }
}