//  Created by sam mok (Siso brand interactive team.) 2015

@import "base";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// addition
:-webkit-input-placeholder { /* WebKit browsers */
  color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #fff;
}

//m-btn-white
.m-btn-white{
  background:url("../images/m-btn-white.png");
  color: #1daaeb;
  text-align: center;
  box-shadow: 1px 1px 1px #aaa;
}
.m-btn-blue{
  background:#1aa9eb;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #0084c0;
}
.m-btn-blue:hover{
  background:#1ba4e4;
}

/*======================================================================
      Components
  ======================================================================*/
/** 在这开始写组件 Your Code Begin Here! */

//m-search
 .m-search{
   width: 345px;
   position: relative;
   .search-input{
     display: block;
     width: 99%;
     height: 45px;
     border: 1px solid #e7e7e7;
     border-right:none;
     color: #a0a0a0;
     font-size: 16px;
     text-indent: 1.3em;
   }

   .search-btn{
     width: 93px;
     height: 45px;
     background: #14a0e1;
     display: block;
     text-align: center;
     line-height: 43px;
     position: absolute;
     right: 0px;
     top: 0px;
     color: #fff;
   }
 }

 //m-selector
.m-selector{
  border: 1px solid #e7e7e7;
  padding-bottom: 16px;
  .item{
    padding-left: 27px;
    padding-top: 25px;
  }
  .item-hd{
    h4{
      display: inline-block;
      font-size: 20px;
      color: #333;
      padding-left: 4px;
      font-weight:normal;
    }
  }
  .item-bd{
    padding-left: 26px;
    width: 284px;
    padding-bottom: 11px;
    li{
      display: block;
      padding-top: 14px;
      float: left;
      font-size: 16px;
      padding-right: 18px;

      a{
        color: #666;
      }
      .active{
        color:#1aa9eb;
      }
    }
  }
  .icon{
    display: inline-block;
    position: relative;
    top: 2px;
  }
}

//m-panel
.m-panel{
  background: #1aa9eb;
  padding-left: 27px;
  padding-top: 25px;
  .m-panel-hd{
    h4{
      display: inline-block;
      font-size: 20px;
      color: #fff;
      padding-left: 4px;
      font-weight:normal;
    }
  }
  .m-panel-bd{
    width: 234px;
    text-align: justify;
    margin-left: 24px;
    margin-top: 16px;
    padding-bottom: 29px;
    .text{
      font-size: 14px;
      color: #fff;
      padding-bottom: 20px;
    }
  }
  .icon{
    display: inline-block;
    position: relative;
    top: 2px;
  }
  .m-btn-white{
    font-size: 20px;
    width: 100%;
    display: block;
    height: 53px;
    line-height: 53px;
    border-radius: 2px;
    padding-bottom: 46px;
  }
}

//m-article
.m-article{
  border: 1px solid #e7e7e7;
  .m-article-hd{
    margin-left: 24px;
    margin-top: 16px;
    h4{
      display: inline-block;
      font-size: 20px;
      color: #333333;
      padding-left: 4px;
      font-weight:normal;
    }
    .icon{
      display: inline-block;
      position: relative;
      top: 2px;
    }
    .more{
      font-size: 16px;
      color: #999;
      margin-right: 46px;
      margin-top: 4px;
    }
  }
  .m-article-bd{
    margin-left: 53px;
    margin-top: 19px;
    padding-bottom: 23px;
    width: 234px;
    li{
      margin-top: 11px;
    }

    .text{
      color: #666;
      font-size: 14px;
      list-style: disc;
    }
    .article-img{
      padding-right: 13px;
    }
    .text-box{
      margin-top: 1px;
      width: 154px;
      dt{
        font-size: 14px;
        color: #333;
        height: 30px;
        line-height: 17px;
      }
      dd{
        font-size: 12px;
        color: #aaa;
        margin-top: 6px;
      }
    }
    .m-btn-blue{
      font-size: 18px;
      width: 100%;
      display: block;
      height: 45px;
      line-height: 45px;
    }

  }

}

//m-map
.m-map{
  border: 1px solid #e7e7e7;
  .m-map-hd{
    p{
      font-size: 14px;
      color: #666;
      margin-left: 24px;
      margin-top: 6px;
      width: 250px;
      padding-bottom: 10px;
    }
  }
  .m-map-imges{
      display: block;
      width: 100%;
    padding-top: 10px;
  }
}
//m-sidebar-hd
.m-sidebar-hd{
  padding-left: 27px;
  padding-top: 25px;
  h4{
    display: inline-block;
    font-size: 20px;
    color: #333333;
    padding-left: 4px;
    font-weight:normal;
  }
  .icon{
    display: inline-block;
    position: relative;
    top: 2px;
  }
}

//m-calendar
.m-calendar{
  border: 1px solid #e7e7e7;
  .m-calendar-hd{

    padding-bottom: 10px;
    p{
      font-size: 14px;
      color: #666;
      margin-left: 25px;
      margin-top: 6px;
      width: 250px;
    }
    .all-time{
      font-size: 14px;
      color:#666;
      padding: 3px 16px;
      border-radius: 2px;
      border: 1px solid #ddd;
      margin-right: 26px;
    }
  }
}


//datepicker
div.datepicker {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 196px;
  height: 147px;
  position: absolute;
  cursor: default;
  top: 0;
  left: 0;
  display: none;
}
.datepickerContainer {
  position: absolute;
}

/* Hide border divs by default */
.datepickerBorderT,
.datepickerBorderB,
.datepickerBorderL,
.datepickerBorderR,
.datepickerBorderTL,
.datepickerBorderTR,
.datepickerBorderBL,
.datepickerBorderBR {
  display:none;
}

.datepickerHidden {
  display: none;
}
div.datepicker table {
  border-collapse:collapse;
}
div.datepicker a {
  color: black;
  text-decoration: none;
  cursor: default;
  outline: none;
}
div.datepicker table td {
  text-align: center;
  padding: 0;
  margin: 0;
}
div.datepicker th {
  text-align: center;
  color: #666666;
  font-weight: normal;
  padding:0;
}
div.datepicker tbody a {
  display: block;
}
.datepickerDays a {
  width: 29px;
  margin-left: 10px;
  margin-right: 10px;
  line-height:49px;
  height: 49px;
}
.datepickerYears a,
.datepickerMonths a{
  line-height: 36px;
  height: 36px;
  text-align: center;
}
.datepickerMonths td:first-child a,
.datepickerMonths td:last-child a,
.datepickerYears td:first-child a,
.datepickerYears td:last-child a {
  width:38px;
}
td.datepickerNotInMonth a {
  color: #666666;
}
tbody.datepickerDays td.datepickerSelected{
  span{

  }
}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
  background: #17384d;
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
  background: #17384d;
}
div.datepicker td.datepickerSelected a {
  color:white;
}
div.datepicker a:hover,
div.datepicker a:hover {
  span{

  }
}
div.datepicker td.datepickerNotInMonth a:hover {

}
.datepickerSpace div {
  width: 20px;
}
.datepickerBlock {
  vertical-align:top;
}
a.datepickerGoNext,
a.datepickerGoPrev,
a.datepickerMonth {
  text-align: center;
  height: 20px;
  line-height: 20px;
  float:left;
}
div.datepicker th a.datepickerGoNext,
div.datepicker th a.datepickerGoPrev {
  width: 20px;
  color: #666666;
  margin-left:11px;
  display:none;
  font-size: 19px;

  cursor:pointer;
}
.datepicker-hd{
  background: #f6f6f6;
  height: 51px;
}
div.datepicker th a.datepickerMonth {
  width:270px;
  color: #333;
  display:block;
  font-size: 19px;
}
/* Only display the previous/next arrows on the first/last calendars */
div.datepicker .datepickerFirstView th a.datepickerGoPrev,
div.datepicker .datepickerLastView th a.datepickerGoNext {
  display:block;
}
/* Compensate for the space lost by not having a previous arrow */
div.datepicker th a.datepickerMonth {
  margin-left:20px;
}
div.datepicker .datepickerFirstView th a.datepickerMonth {
  margin-left:0;
}
/* Day mode calendar body */
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
  display: none;
}
/* Month mode calendar body */
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
  display: none;
}
/* Year mode calendar body */
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
  display: none;
}
.datepickerDoW{
  height: 50px;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
  color: #555555;
}
td.datepickerDisabled a:hover {

}
/* Not used by default, calendar cells can be marked as special if desired (doesn't seem to be totally working) */
div.datepicker tbody.datepickerDays td.datepickerSpecial a {
  background: #770000;
  color:white;
}
div.datepicker tbody.datepickerDays td.datepickerSpecial.datepickerSelected a {
  background: #aa0000;
}

/* style the 'not in month' day cell away */
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
  background-color:transparent;
}
div.datepicker td.datepickerNotInMonth a span {
  display:none;
}
div.datepicker td.datepickerNotInMonth a:hover span {
  display:none;
}
div.datepicker tbody.datepickerDays td.datepickerNotInMonth:hover {

}


/* clean */

/* blue cell color for selected days */
tbody.datepickerDays td.datepickerSelected {
  span{
    background: #14a0e1;
    width: 30px;
    display: inline-block;
    line-height: 30px;
    border-radius: 100px;
    text-align: center;
    height: 30px;
  }
}

/* Grey out dates in the future */
div.datepicker td.datepickerFuture a {
}

/* yellow cell background on hover */
div.datepicker tbody.datepickerDays td:hover {
  span{
    background: #e5e5e5;width: 30px;
    display: inline-block;
    line-height: 30px;
    border-radius: 100px;
    text-align: center;
    height: 30px;
  }
}

/* Bold today's date */
div.datepicker td.datepickerToday a {
  font-weight:bold;
}


#m-calendar-box{
  padding-bottom: 12px;
}

/*======================================================================
      Responsive
  ======================================================================*/

@media screen and (max-width: 1215px){

}
