//  Created by sam mok (Siso brand interactive team.) 2015

@import "base";

/*======================================================================
      Global
  ======================================================================*/
html {
  font-family: "microsoft yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  background: #ededed;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.layout {
  width: 1145px;
  min-width: 1145px;
  padding: 0 60px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  zoom:1;
}

.layout:before,.layout:after {
  content:"";
  display:table;
}
.layout:after {
  clear:both;
  overflow:hidden;
}

.font-smooth {
  -webkit-font-smoothing: antialiased;
}

p, a, button, span {
  .font-smooth;
}

input {
  outline: none;
}

.main {
  float: left;
  width: 650px;
}

.side {
  float: right;
  width: 345px;
  margin-bottom: 60px;
}

/*======================================================================
      Main
  ======================================================================*/
/* header */
.header {
  width: 1145px;
  min-width: 1145px;
  height: 90px;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
  background: #fff;
  border-bottom: 1px solid #ebebeb;

  .pr.clearfix:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: url("../images/header-shadow.png");
  }
}

.header-logo {
  width: 328px;
  height: 90px;
  margin-left: 30px;
  background: url("../images/header-logo.png") no-repeat;
}

.header-logo-container {
  display: inline-block;
  width: 328px;
  height: 90px;
  position: relative;

  .trangle01 {
    position: absolute;
    top: 18px;
    left: 148px;
    width: 10px;
    height: 10px;
    background: url("../images/header-trangle01.png") no-repeat;
  }

  .trangle02 {
    position: absolute;
    top: 26px;
    left: 140px;
    width: 4px;
    height: 9px;
    background: url("../images/header-trangle02.png") no-repeat;
  }

  .trangle03 {
    position: absolute;
    top: 35px;
    left: 148px;
    width: 7px;
    height: 8px;
    background: url("../images/header-trangle03.png") no-repeat;
  }

  .trangle04 {
    position: absolute;
    top: 35px;
    left: 166px;
    width: 8px;
    height: 6px;
    background: url("../images/header-trangle04.png") no-repeat;
  }

  .trangle05 {
    position: absolute;
    top: 43px;
    left: 155px;
    width: 8px;
    height: 8px;
    background: url("../images/header-trangle05.png") no-repeat;
  }
}

.header-logo.animation {
  .trangle01 { .animation(logoRotate, 3s, infinite); }
  .trangle02 { .animation(logoRotate, 4s, infinite); }
  .trangle03 { .animation(logoRotate, 4.2s, infinite); }
  .trangle04 { .animation(logoRotate, 3.5s, infinite); }
  .trangle05 { .animation(logoRotate, 2.6s, infinite); }
}

.header-nav {
  padding: 28px 0 0 54px;

  .item {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 0 0 16px;
    position: relative;

    a {
      .c_strong;
    }
  }

  .item:hover {
    > a {
      color: #1aa9eb;
    }

    .header-subnav {
      display: block;
    }
  }

  .item.hasSubNav {
    background: url("../images/header-menu-trangle-n.png") no-repeat right 16px;
  }

  .item.hasSubNav:hover {
    background-image: url("../images/header-menu-trangle-h.png");
  }
}

.header-subnav {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  width: 110px;
  background: #fff;
  border: 1px solid #e5e5e5;

  .subitem {
    text-align: center;

    a {
      display: block;
      padding: 10px 0;
    }
  }

  .subitem:hover {
    a {
      color: #1aa9eb;
    }
  }

  .triangle {
    width: 15px;
    height: 8px;
    background: url("../images/header-menu-trangle2.png") no-repeat;
    position: absolute;
    top: -8px;
    left: 48px;
  }
}

.header-signbar {
  width: 162px;
  height: 60px;
  line-height: 60px;
  margin: 16px 0 0 37px;
  border-left: 1px solid #ccc;
}

.header-sign-before {
  padding: 0 0 0 20px;

  span {
    display: inline-block;
    margin: 0 20px;
    .fs14;
    text-decoration: none;
    .c_light;
    cursor: pointer;
  }

  span:hover {
    color: #2694bb;
  }
}

.header-sign-after {
  text-align: center;
  position: relative;

  .header-droplist-wrap {
    display: inline-block;

  }

  .header-user {
    padding: 0 20px 0 0;
    color: #6c7280;
    .fs14;

    background: url("../images/trangle-down-small.png") no-repeat right center;
  }

  ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    width: 122px;
    padding: 10px 0 12px 0;
    margin: 0 0 0 -61px;
    text-align: center;
    background: #fff;
    border: 1px solid #e5e5e5;

    li {
      padding: 9px 0;
      line-height: 18px;
    }

    a {
      display: block;
      .c_normal;
    }

    a:hover{
      .c_blue;
    }
  }

  ul:after {
    content:'';
    width: 17px;
    height: 8px;
    background: url("../images/border-arrow-up.png") no-repeat;
    position: absolute;
    top: -8px;
    left: 53px;
  }

  .header-droplist-wrap:hover ul{
    display: block;
  }
}

.header-float {
  position: absolute;
  right: -60px;
  top: 90px;
  width: 60px;
  z-index: 100;

  .item {
    display: block;
    height: 60px;
    margin-bottom: 1px;
    cursor: pointer;
  }

  .item01 {
    background: #fff url('../images/header-float01-n.png') no-repeat center center;
  }

  .item02 {
    background: #fff url('../images/header-float02-n.png') no-repeat center center;
  }

  .item03 {
    background: #fff url('../images/header-float03-n.png') no-repeat center center;
  }

  .item04 {
    background: #fff url('../images/header-float04-n.png') no-repeat center center;
  }

  .item01.active,
  .item01:hover {
    background: #14a0e1 url('../images/header-float01-h.png') no-repeat center center;
  }

  .item02.active,
  .item02:hover {
    background: #14a0e1 url('../images/header-float02-h.png') no-repeat center center;
  }

  .item03.active,
  .item03:hover {
    background: #14a0e1 url('../images/header-float03-h.png') no-repeat center center;
  }

  .item04.active,
  .item04:hover {
    background: #14a0e1 url('../images/header-float04-h.png') no-repeat center center;
  }
}

.header-tips {
  height: 180px;
  background: #fff;
  position: absolute;
  top: 90px;
  left: 50%;
  width: 1145px;
  margin: 0 0 0 -572px;
  z-index: 900;

  .item {
    width: 1145px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header-wechat {
  position: relative;

  h3 {
    padding: 82px 0 0 230px;
    .fs24;
    color: #a1a1a1;
    font-weight: normal;
  }

  .qrcode {
    position: absolute;
    top: 30px;
    right: 205px;
    width: 150px;

    p {
      margin-top: 5px;
      .fs14;
      color: #a1a1a1;
    }
  }
}

.header-search {
  position: relative;
}

.header-search-body {
  overflow: hidden;
  width: 772px;
  margin: 65px 0 0 185px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.header-search-text {
  width: 630px;
  line-height: 60px;
  padding: 0 15px;
  color: #666;
  .fs26;
  border: none;
}

.header-search-btn {
  width: 140px;
  line-height: 60px;
  text-align: center;
  .fs24;
  color: #fff;
  background: #d8d8d8;
  border: none;
  cursor: pointer;
}

.header-search-btn:hover {
  background: #ccc;
}

/* header float panel */
.m-floatpanel {
  .m-form {
    margin: 0 0 0 140px;
  }
}

.m-floatpanel.noLabel {
  .m-form {
    margin-left: 290px;
  }
}

/* footer */
.footer {
  width: 1145px;
  padding: 54px 60px 40px 60px;
  margin: 0 auto;
  min-height: 262px;
  background: #f7f9fa;
}

@keyframes logoRotate {
  from {
    .transform(rotate(0deg));
  }
  to {
    .transform(rotate(360deg));
  }
}

@-webkit-keyframes logoRotate {
  from {
    .transform(rotate(0deg));
  }
  to {
    .transform(rotate(360deg));
  }
}

@-o-keyframes logoRotate {
  from {
    .transform(rotate(0deg));
  }
  to {
    .transform(rotate(360deg));
  }
}

@-moz-keyframes logoRotate {
  from {
    .transform(rotate(0deg));
  }
  to {
    .transform(rotate(360deg));
  }
}

.footer-logo {
  width: 187px;
  height: 118px;
  margin-right: 20px;

  .footer-logo-container {
    display: inline-block;
    width: 145px;
    height: 85px;
    background: url("../images/footer-logo.png") no-repeat;
    background-size: 145px 85px;
    position: relative;

    .trangle01 {
      position: absolute;
      top: 0;
      left: 107px;
      width: 6px;
      height: 12px;
      background: url("../images/footer-logo-trangle01.png") no-repeat;

      .animation(logoRotate, 2s, infinite);
    }

    .trangle02 {
      position: absolute;
      top: -6px;
      left: 115px;
      width: 11px;
      height: 11px;
      background: url("../images/footer-logo-trangle02.png") no-repeat;

      .animation(logoRotate, 2.5s, infinite);
    }

    .trangle03 {
      position: absolute;
      top: 10px;
      left: 115px;
      width: 8px;
      height: 10px;
      background: url("../images/footer-logo-trangle03.png") no-repeat;

      .animation(logoRotate, 3s, infinite);
    }

    .trangle04 {
      position: absolute;
      top: 19px;
      left: 120px;
      width: 9px;
      height: 8px;
      background: url("../images/footer-logo-trangle04.png") no-repeat;

      .animation(logoRotate, 3.5s, infinite);
    }

    .trangle05 {
      position: absolute;
      top: 10px;
      left: 133px;
      width: 10px;
      height: 7px;
      background: url("../images/footer-logo-trangle05.png") no-repeat;

      .animation(logoRotate, 5s, infinite);
    }
  }
}

.footer-intel {
  margin: 2px 0 0 0;
  color: #999;
  font-size: 12px;

  a {
    display: block;

    img {
      display: block;
    }
  }
}

.footer-nav {
}

.footer-nav-item {
  width: 172px;
  padding-left: 18px;
  border-left: 1px solid #d9d9de;

  li {
    padding: 9px 0;
  }

  a {
    color: #000;
    font-size: 14px;
    transition: all .2s ease-out;
  }

  a:hover {
    color: #2694bb;
  }
}

.footer-layer {
  margin-top: 45px;
  text-align: center;
  .fs12;
  .c_black;
}

/* title */
.row-title {
  padding: 40px 0 20px 0;

  h2 {
    .fs30;
    .c_heavy;
  }

  .more {
    .pr15;
    margin-top: 7px;
    .fs16;
    .c_light;
    background: url("../images/title-arrow.png") no-repeat right 4px;
  }
}

/* container */
.container {
  .main {
    width: 650px;
  }

  .side {
    width: 345px;
    margin-bottom: 60px;
  }
}

/*======================================================================
      Responsive
  ======================================================================*/

@media screen and (max-width: 1215px) {

}
