//  Created by sam mok (Siso brand interactive team.) 2015

@import "base";

/*======================================================================
      Global
  ======================================================================*/
html {
  font-family: "microsoft yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.layout {
  width: 1215px;
  min-width: 1215px;
  margin-left: auto;
  margin-right: auto;
}

.font-smooth {
  -webkit-font-smoothing: antialiased;
}

p, a, button, span {
  .font-smooth;
}

input {
  outline: none;
}

/*======================================================================
      Main
  ======================================================================*/


/*======================================================================
      Responsive
  ======================================================================*/

@media screen and (max-width: 1215px) {

}
